# Dependencies
node_modules/

# Environment variables
.env

# Uploads (file yang diupload user, jangan ikut ke repo)
uploads/*/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
